.about-container {
    padding-top: 150px;
    padding-bottom: 150px;
    height: 100%;
    font-family: 'Arial', Helvetica, sans-serif;

    h1 {
        font-size: 40px;
        text-align: center;
        color: white;
    }

    p {
        padding: 20px 30px;
    }
}