/*.footer {
  padding-left: -10px;
  margin: 10px;
}*/

.footer {
  display: grid;
  grid-template-columns: 0.4fr 0.55fr;
  grid-gap: 0.7em;
}

.App-footer {
  position: fixed;
  background-color: #222;
  height: 100px;
  color: white;
  bottom: 0;
  width: 100%;
  z-index: 5;
}
