@import "colors";

.game-container {
  height: 100vh;
  overflow: hidden;
}

.english {
  color: $mid-green-color;
}

.camera {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 50px);
  bottom: 0;
  margin-top: 180px;
  margin-bottom: 100px;
}

video {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

.photo {
  grid-column: 1 / 13;
  grid-row: 1 / 8;
  width: 100vw;
  height: auto;
  padding: 0;
  margin: 0;
}

.btn-camera {
  align-self: center;
  text-align: center;
  grid-column: 6 / 8;
  grid-row: 5 / 6;
  z-index: 5;
  font-size: 2em;
}

.btn-camera-new {
  text-align: center;
  z-index: 5;
  font-size: 2em;
  grid-column: 11 / 12;
  grid-row: 7 / 9;
  color: #cec6c0;
  margin-top: 30px;
}

.btn-signout {
  text-align: center;
  grid-column: 11 / 12;
  grid-row: 8 / 10;
  color: #cec6c0;
}

.translate {
  grid-column: 2 / 13;
  grid-row: 6 / 9;
  background-color: black;
  color: #cec6c0;
  margin-top: 30px;
}

.message {
  color: #cec6c0;
  grid-column: 2 / 8;
  grid-row: 7 / 10;
}

@media only screen and (min-width: 768px) {
  .photo {
    video {
      width: auto;
      height: 50vh;
    }
  }

  .btn-camera {
    margin-top: 0;
  }
  .camera {
    display: flex;
    justify-content: center;
    height: 100vh;

    .translate {
      width: 1000px;
      height: 50vh;
      overflow: scroll;
      margin-top: 0;
      margin-left: 2%;
    }

    img.photo {
      width: auto;
      height: 50vh;
    }

    .message {
      margin-top: 20%;
      margin-right: 10%;
    }
  }
}
