.header {
  // overflow: hidden;
  // overflow-y: hidden;
  // overflow-x: hidden;
  // position: fixed;
  padding-top: 12px;
  padding-right: 10px;
  font-family: 'Julius Sans One', sans-serif;
  letter-spacing: 8px;
  font-size: 14px;
}