$view-height: 15vh;

.quicknav-wrapper {
  z-index: 3;
  position: relative;
  display: grid;
  grid-gap: 3vw;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  bottom: 25px;
}

#map-left-arrow {
  grid-column: 1 / 2;
  grid-row: 1;
  z-index: inherit;
  padding-left: 5px;
}

#map-location-display {
  button {
    .map-location-btn {
      grid-column-start: 2;
      grid-column-end: 3;
      //height: $view-height;
      //width: 42vw;
      //z-index: inherit;
      //display: float;
      text-align: center;
      font-size: 4vw;
      font-style: bold;
      font-family: "Slackey", cursive;
      background-image: none;
      background-color: none;
      opacity: 0;
    }
  }
}

#map-right-arrow {
  grid-column-end: 4;
  grid-row: 1;
  z-index: inherit;
  text-align: right;
  padding-right: 7px;
}

.map-arrow-btn {
  height: $view-height;
  width: 26vw;
}

.map-arrow-img {
  width: 15vw;
  height: auto;
  max-width: 100px;
  max-height: 100px;
}
