$view-height: 15vh;

#map-quicknav {
  /*
    display: float;
  */
}

#quicknav-wrapper {
  z-index: 9001;
  /*
  bottom: 13vh;
  */
  top: -13vh;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3vw;
  grid-auto-rows: minmax(auto, auto);
}

#map-left-arrow {
  grid-column: 1 / 3;
  grid-row: 1;
  z-index: inherit;
}

#map-location-display {
  grid-column: 2 / 3;
  grid-row: 1;
  height: $view-height;
  width: 42vw;
  z-index: inherit;
  display: float;
  text-align: center;
  font-size: 4vw;
  font-style: bold;
  font-family: "Slackey", cursive;
}

#map-right-arrow {
  grid-column: 3 / 3;
  grid-row: 1;
  z-index: inherit;
}

.map-arrow-btn {
  height: width;
  width: 26vw;
  max-width: 100px;
  max-height: 100px;
}

.map-arrow-img {
  height: 100%;
  width: 100%;
}
