$view-height: 15vh;

#quicknav-wrapper {
  z-index: 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3vw;
  grid-template-rows: 1fr;
}

#map-left-arrow {
  grid-column: 1 / 2;
  grid-row: 1;
  z-index: inherit;
}

#map-location-display {
  button {
    .map-location-btn {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row: 1;
      height: $view-height;
      width: 42vw;
      z-index: inherit;
      display: float;
      text-align: center;
      font-size: 4vw;
      font-style: bold;
      font-family: "Slackey", cursive;
    }
  }
}

#map-right-arrow {
  grid-column-end: 7;
  grid-row: 1;
  z-index: inherit;
}

.map-arrow-btn {
  height: $view-height;
  width: 26vw;
}

.map-arrow-img {
  width: 15vw;
  height: auto;
  max-width: 100px;
  max-height: 100px;
}
