.photo-container {
  margin-top: 100px;
  margin-bottom: 100px;
}

.pic {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2.2em;
  padding-bottom: 0.8em;
  border-bottom: 2px dotted white;
  background-color: black;

  img {
    margin-bottom: 10px;
  }
}

.picText {
  font-family: "Roboto", sans-serif;
  padding-top: 1em;
  padding-bottom: 1em;
  color: white;
  display: inline-block;

  p {
    margin-bottom: 7px;
    color: #4c4c4c;
  }
}
