.story-container {
  margin-top: 100px;
  margin-bottom: 100px;
  height: 100vh;
}

.story {
  height: 100%;
  overflow: hidden;
  font-size: 18px;
  word-spacing: 3px;
  letter-spacing: 1px;
  line-height: 20px;
  font-family: "Roboto", sans-serif;
  color: white;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #1f1f1f;
  background: url("http://www.pictorem.com/collection/900_12305816HighRes.jpg")
    no-repeat center center fixed;
  background-size: contain;
  opacity: 0.88;
  text-indent: 50px;
}
