.story {
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-size: 15px;
  word-spacing: 3px;
  letter-spacing: 1px;
  line-height: 20px;
  font-family: "Roboto", sans-serif;
  color: white;
  margin-top: 100px;
  padding-right: 40px;
  padding-left: 40px;
  // padding-bottom: 100%;
  background-color: #1f1f1f;
  background: url("http://www.pictorem.com/collection/900_12305816HighRes.jpg")
    no-repeat center center fixed;
  background-size: contain;
  opacity: 0.88;
  text-indent: 50px;
}
